@model Projeto01.Models.Fabricante

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes de um Fabricante";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Visualizando detalhes de um Fabricante
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(mode => Model.Nome, new { htmlAttributes = new { @class = "form-control", disable = "disable" } })
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar Alterações" class="btn btn-danger" />
            @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-warning" })
        </div>
        <br />
        <br />
    </div>
</div>

@Html.Partial("~/Views/Produtos/_PorFabricante.cshtml",Model.Produtos.ToList())
